/* Thunderbird Quantum userChrome.css tweaks ****************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


#quick-filter-bar toolbarbutton:not(#qfb-sticky) .toolbarbutton-icon {
  display: none !important;
}

#quick-filter-bar toolbarbutton:not(#qfb-sticky) .toolbarbutton-text {
  display: inline !important;
  visibility: visible !important;
  margin-inline-start: 0px !important;
}
