/* Thunderbird userChrome.css tweaks ************************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


@media all and (-moz-windows-compositor) {

  #messengerWindow{
	appearance: -moz-win-borderless-glass !important;    
	background: transparent linear-gradient(to bottom, rgba(255,255,255,.1) 0px, rgba(255, 255, 255, .5) 30px ,rgba(255,255,255,.9)) !important;
  }

  .chromeclass-menubar,  
  #messengerWindow tabpanels,
  #messengerWindow tabpanels toolbox{
	border:0 !important;
  }

  toolbox,
  toolbox toolbar{
	background: none !important;
	background-image: none !important;
  }
  
  #messengerWindow #mail-bar3:not(:-moz-lwtheme),
  #messengerWindow #navigation-toolbox[class="toolbox-top"] #mail-toolbar-menubar2[autohide="false"]:not(:-moz-lwtheme),
  #messengerWindow #navigation-toolbox[class="toolbox-top"] #mail-toolbar-menubar2:not(:-moz-lwtheme) {
	appearance: none !important;
	background: none !important;
  }
  
  * #unifinder-searchBox,
  * #task-addition-box,
  * #calendar-nav-control,
  * #mail-bar3.chromeclass-toolbar:not(:-moz-lwtheme),
  * #quick-filter-bar{
	background:none !important;
  }

  @media (-moz-os-version: windows-win10) {
	#titlebar-min .toolbarbutton-icon,
	#titlebar-max .toolbarbutton-icon,
	#titlebar-close:not(:hover) .toolbarbutton-icon{
	  opacity: 0 !important;
	}
  }
  
	.chromeclass-status:not(:-moz-lwtheme) statusbarpanel,
	.chromeclass-status:not(:-moz-lwtheme) .statusbar-resizerpanel,
	.today-subpane,#buttonspacer,#today-pane-panel,#agenda-panel,
	#todo-tab-panel,#mini-day-box,#today-minimonth-box,
	#weekdayNameContainer,daypicker,#event-menubar,#event-toolbar,
	#calendar-task-tree, #today-pane-splitter,
	daypicker[mode="monthly-days"],
	#task-actions-category,sidebarheader,
	#messengerWindow[sizemode=normal] #today-pane-panel,
	#calsidebar_splitter,#today-pane-panel sidebarheader,
	#today-pane-panel .folderview-cycler,
	#calsidebar,#event-toolbox,
	#calendar-list-overlay,#suiteSidebarOverlay,
	#mailContext-calendar-convert-menu,
	#markMenu,#task-tree-filtergroup,#tabTitleTasks,
	#tabmail-container,#status-bar,
	#calsidebar_splitter,#calendar-invitations-panel,
	#mail-menubar,#calendarTabPanel,
	#ltnTasksMenu,sidebar,
	#ltnCalendarMenu,#ltnSidebarOverlay,#calendar-tab-button,
	#task-tab-button,#lightning-button-calendar,
	#lightning-button-tasks,lightning-notification-bar,#lightning-newCalendar-row,
	table,#calendar-panel,#imip-bar,#calMinimonthBox,
	#today-splitter,#calendar-status-todaypane-button,
	#calsidebar_splitter,#calMinimonthBox{
	  appearance: -moz-win-borderless-glass !important;
	  background: transparent linear-gradient(to bottom, rgba(255,255,255,.1) 0px, rgba(255, 255, 255, .5) 30px ,rgba(255,255,255,.9)) !important;
	}
	
	/* toolbar text */
	* #mail-menubar:not(:-moz-lwtheme) > menu > label,
	#messengerWindow toolbar:not(:-moz-lwtheme):not(#tabs-toolbar):not(#folderPane-toolbar),
	menubar > menu:not(:-moz-lwtheme),
	statusbar:not(:-moz-lwtheme) label,
	toolbox toolbarbutton:not(:-moz-lwtheme) > label{
	  color: #FFFFFF !important;
	  text-shadow: #000000 1px 1px 1.5px !important;
	}

}
