/* Thunderbird userChrome.css tweaks ************************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


.chromeclass-toolbar #spacesPinnedButton,
.chromeclass-toolbar #spacesPinnedButton .toolbarbutton-badge-stack,
.chromeclass-toolbar #spacesPinnedButton .toolbarbutton-badge-stack .toolbarbutton-icon,
:is(.chromeclass-toolbar,#header-view-toolbox,#attachmentView,.lightning-notification-bar,#quick-filter-bar) .toolbarbutton-1 :is(.toolbarbutton-menubutton-button,.toolbarbutton-menubutton-dropmarker) {
	appearance: none !important;
	background: none !important;
	background-image: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
	transition-property: none !important;
    transition-duration: 0ms !important;
}

.unified-toolbar li:not(.search-bar,.spacer),
:is(.chromeclass-toolbar,#header-view-toolbox,#attachmentView,.lightning-notification-bar,#quick-filter-bar) .toolbarbutton-1 {
	appearance: none !important;
	background: rgba(151,152,153,.05)
				linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, 
										rgba(231,232,233,.45) 51%, rgba(225,226,229,.3)) !important;
	background-clip: padding-box !important;
	border-radius: 2.5px !important;
	border: 1px solid !important;
	border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38) !important;
	box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
				0 0 0 2px rgba(255,255,255,.1) inset !important;
}

.unified-toolbar li:not(.search-bar,.spacer):hover,
:is(.chromeclass-toolbar,#header-view-toolbox,#attachmentView,.lightning-notification-bar,#quick-filter-bar) .toolbarbutton-1:hover {
  background-color: hsla(190,60%,70%,.5) !important;
  border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			  0 0 0 1.5px rgba(255,255,255,.1) inset,
			  0 0 3.5px hsl(190,90%,80%) !important;
  transition: background-color .4s ease-in,
				   border-color .3s ease-in,
				   box-shadow .3s ease-in !important;
}

.unified-toolbar li:not(.search-bar,.spacer):is(:hover:active,[checked="true"],[open="true"]),
:is(.chromeclass-toolbar,#header-view-toolbox,#attachmentView,.lightning-notification-bar,#quick-filter-bar) .toolbarbutton-1:is(:hover:active,[checked="true"],[open="true"]) {
  background-color: transparent !important;
  border-color: rgba(0,0,0,.65) rgba(0,0,0,.55) rgba(0,0,0,.5) !important;
  box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset,
			  0 0 2px rgba(0,0,0,.4) inset,
			  0 1px 0 rgba(255,255,255,.4) !important;
}

.unified-toolbar-button.button,
.unified-toolbar-button.button:hover,
.unified-toolbar-button.button:is(:hover:active,[checked="true"],[open="true"]) {
  appearance: none !important;
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

.unified-toolbar li {
  margin: 0 1px !important;
}

