/* Thunderbird userChrome.css tweaks ************************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


#tabs-toolbar .tabmail-tab .tab-line {
  display: none !important;
  height: 0 !important;
  opacity: 0 !important;
}
