/* Thunderbird userChrome.css tweaks ************************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


#attachment-splitter {
  order: 9 !important;
}

#messagepane {
  order: 10 !important;
}

#mail-notification-top {
  border-bottom: 0 !important;
}


#attachmentView {
  border-top:0 !important;
  border-bottom: 1px solid #a9b7c9 !important;
}
splitter#attachment-splitter[orient="vertical"][collapsed] {
  display: none;
}
 
splitter#attachment-splitter[orient="vertical"] {
  pointer-events: none;
}

#composeContentBox #compose-toolbar-sizer {
  height: 3px !important;
  opacity: 0.1 !important;
}
