/* Thunderbird userChrome.css tweaks ************************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


#quick-filter-bar{
  order: 100 !important;
}

#quick-filter-bar {
  border-top: 1px solid #a9b7c9 !important;
  border-bottom: 0 !important;
}

#quick-filter-bar {
  border-bottom: 0 !important;
}

#quick-filter-bar-expando {
  border-bottom: 0 !important;
}
