/* Thunderbird userChrome.css tweaks ************************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


#titlebar unified-toolbar {
  order: -8 !important;
}

#titlebar #toolbar-menubar {
  order: -9 !important;
}

#titlebar #tabs-toolbar {
  order: -10 !important;
  padding-inline-end: 160px !important;
}

.titlebar-buttonbox-container {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
}

#unifiedToolbarContent {
  padding-inline-start: 0 !important;
}
