/* Thunderbird userChrome.css tweaks ************************************************************/
/* Github: https://github.com/aris-t2/customcssfortb ********************************************/


@import "./classic_squared_tabs.css"; /**/

/* tab appearance */
#messengerWindow #tabs-toolbar:not(:-moz-lwtheme) .tabmail-tab {
  border: 1px solid rgba(0,0,0,.4) !important;
  border-bottom: 0px !important;
}

#messengerWindow #tabs-toolbar:not(:-moz-lwtheme) .tabmail-tab {
  background-image: linear-gradient(to top,rgba(0,0,0,.4),#b4c0cc 1px,#c8d4e1,#d1deec) !important;
}

#messengerWindow #tabs-toolbar:not(:-moz-lwtheme) .tabmail-tab:hover{
  background-image: linear-gradient(to top,rgba(0,0,0,.4),#d0dce8 1px,#dce7f3,#e5effa) !important;
}

#messengerWindow #tabs-toolbar:not(:-moz-lwtheme) .tabmail-tab[selected] {
  background-image: linear-gradient(to top,#eaf2fb,#eef5fc,#fbfdff) !important;
}

@media (min-resolution: 1.0dppx) {
	
  /* tab close icon appearance */
  #messengerWindow:not(:-moz-lwtheme) .tabmail-tab .close-icon {
	list-style-image: url("../../images/close.png") !important;
	-moz-image-region: rect(0, 16px, 16px, 0) !important;
  }

  #messengerWindow:not(:-moz-lwtheme) .tabmail-tab .close-icon:hover {
	-moz-image-region: rect(0, 32px, 16px, 16px) !important;
  }

  #messengerWindow:not(:-moz-lwtheme) .tabmail-tab .close-icon:hover:active {
	-moz-image-region: rect(0, 48px, 16px, 32px) !important;
  }

  #messengerWindow:not(:-moz-lwtheme) .tabmail-tab .close-icon > .button-icon,
  #messengerWindow:not(:-moz-lwtheme) .tabmail-tab .close-icon > .button-box > .button-icon,
  #messengerWindow:not(:-moz-lwtheme) .tabmail-tab .close-icon > .toolbarbutton-icon {
	width: 16px !important;
  }

}
